@font-face{
  font-family: 'Raleway-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Raleway-Bold'),
       url('../fonts/Raleway-Bold.woff2') format('woff2'),
       url('../fonts/Raleway-Bold.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Raleway-ExtraBold';
  font-weight: 800;
  font-style: normal;
  src: local('Raleway-ExtraBold'),
       url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
       url('../fonts/Raleway-ExtraBold.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Raleway-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('Raleway-SemiBold'),
       url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
       url('../fonts/Raleway-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Raleway-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Raleway-Regular'),
       url('../fonts/Raleway-Regular.woff2') format('woff2'),
       url('../fonts/Raleway-Regular.woff') format('woff');
  font-display: swap;
}